body {
    background-color: #0a25aa; /* Azul escuro espacial */
    color: #e0e0e0;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.painel {
    background: #1c1f2b;
    border: 2px solid #4a90e2;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 0 15px rgba(74, 144, 226, 0.3);
}

h1, h3 { color: #4a90e2; text-align: center; }

.secao {
    margin-bottom: 20px;
    padding: 10px;
    border-bottom: 1px solid #333;
}

input {
    width: 90%;
    margin: 5px 0;
    padding: 8px;
    background: #0b0d17;
    border: 1px solid #4a90e2;
    color: white;
}

button {
    width: 100%;
    padding: 10px;
    background: #4a90e2;
    border: none;
    color: white;
    cursor: pointer;
    font-weight: bold;
    margin-top: 5px;
}

button:hover { background: #357abd; }

.btn-lancar {
    background: #d9534f;
    font-size: 1.2em;
    margin-top: 20px;
}

#output {
    background: #000;
    color: #00ff00; /* Verde estilo terminal antigo */
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
}